<html>
    <HEAD>
        <link rel=stylesheet type=text/css href='{{url_for('static', filename='styles.css')}}'
    </HEAD>
    <body>
        <h1>Are you sure you want to delete {{itemName}}?</h1>
        <div class='pane'>
            <form action="{{url_for('deleteMenuItem', restaurant_id=restaurant_id, menu_id=menu_id)}}" method='POST'>
                <input type='submit' value='Delete'>
                <a href='{{url_for('restaurantMenu',restaurant_id=restaurant_id)}}'>Cancel</a>
            </form>
        </div>
    </body>
</html>
